* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh; /* Changed from min-width to min-height */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
}

.input-group {
  margin: 20px;
  position: relative;
}

.input-group label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  font-size: 16px;
  pointer-events: none;
  color: rgb(218, 223, 223);
  padding: 0 5px;
  transition: 0.5s;
}

.input-group input {
  width: 360px;
  height: 60px;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  border: 1.2px solid rgb(218, 223, 223);
  background: transparent;
  outline: none;
  border-radius: 5px;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: 0;
  background: black;
}
